.chartBar{
    display: grid;
    border: black solid 1px;
    padding: 2%;
    margin: 10px;
    margin-top: 56px;
  }
  .tableHeader{
    text-align: center;
  }
  .tHeadContainer{
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
    color: #ffffff;
    background: #324960;
    -webkit-box-shadow:-3px 6px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 0px 0 rgb(0 0 0 / 0%);

  }
  .tableBody{
    text-align: right;
  }
  .chartContainer{
    display: flex;
      align-items: center;
      justify-content: center;
      align-content: space-around;
      flex-wrap: wrap;
    }
  .genderChart{
    display: flex;
     height: 375px; 
      width: 375px;
  }
  .chartDiscretion{
    border-bottom: solid black 1px;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .chartContainer{
      display: grid;
      border:none;
    }
    .genderChart{
      display: block;
      width: fit-content;
      height: fit-content;
    }
  }
  @media screen and (max-width: 407px) {
  .chartBar{
    border: none;
  }
}
@media screen and (max-width: 393px){
  .chartDiscretion{
    border-bottom: none;
  }
}
@media screen and(max-width: 279) {
  .chartBar {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 56px;
}
}
@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}
  