body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.chartBar{
  display: grid;
  border: black solid 1px;
  padding: 2%;
  margin: 10px;
}
.chartContainer{
  display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;

  }
.genderChart{
  display: flex;
   height: 375px; 
    width: 375px;
}
.chartDiscretion{
  border-bottom: solid black 1px;

}

@media screen and (max-width: 600px) {
  .chartContainer{
    display: grid;
    border:none;
  }
  .genderChart{
    display: block;
    width: fit-content;
    height: fit-content;
  }
}
